$color-1: rgb(246, 246, 246);
$color-2: rgb(234, 234, 234);
$color-3: #9356DC;
$color-4: #FF79DA;
$color-5: linear-gradient(to right bottom, #FF79DA, #9356DC);
$color-6: linear-gradient(to right bottom, #9356DC, #FF79DA);
$color-7: white;
$color-8:#99E2D0;
$page-width: 85%

